@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@import url('https://fonts.googleapis.com/css?family=Oswald');

#header {
	position: absolute;
	z-index: 10;
	width: 100%;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

.container-fluid {
	padding: 0px;
}

/****************************************************************************/
/******************************** Pre-navbar ********************************/
/****************************************************************************/

#pre-nav {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	padding: .2rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
}

#pre-nav-contact {
	margin: -7px;
	padding: .8rem;
}

#register-btn {
	display: inline-block;
	margin-top: -7px;
	margin-right: 20px;
	padding: .8rem;
	border-radius: 18px;
}

.pre-nav-social {
	display: inline-block;
	padding: .8rem;
}

.pre-nav-social a {
	margin-left: .2rem;
}

.social a {
	font-size: 4.5em;
}

.fa-facebook {
	color: #3b5998;
}

.fa-twitter {
	color: #00aced;
}

.fa-instagram {
	color: #517fa4;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
	color: #d5d5d5;
}

/****************************************************************************/
/********************************** Navbar **********************************/
/****************************************************************************/

.navbar {
	padding: 80px 0;
}

.navbar-brand {
	font-weight: 600;
	font-size: 1.5em;
}

.navbar-dark .navbar-brand {
	color: #dcdde1;
}

.nav-item {
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
	background: #ADE75F;
	color: #262626;
	border-radius: 4px;
	transition: .4s ease;
}

/****************************************************************************/
/*********************************** Main ***********************************/
/****************************************************************************/

.main {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background13-flip.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 220px 0 200px;
    background-attachment: fixed;
}

.main h2 {
	margin: 0;
	padding: 0;
	font-size: 2.6em;
	color: #dcdde1;
	text-transform: uppercase;
	font-weight: bold;
}

.main p {
	margin-top: 1em;
	padding: 0;
	font-size: 1em;
	color: #dcdde1;
}

/***************************************************************************/
/********************************** About **********************************/
/***************************************************************************/

.main-about {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background13.jpg);
	min-height: 60vh;
	background-size: cover;
	background-position: center;
	padding: 320px 0 200px;
    background-attachment: fixed;
}

.main-about h1 {
	margin: 0;
	padding: 0;
	font-size: 2.6em;
	color: #dcdde1;
	text-transform: uppercase;
	font-weight: bold;
}

.about-content h4 {
	padding-bottom: 1rem;
}

.about-content p {
	margin-top: 1rem;
}

/***************************************************************************/
/********************************* Classes *********************************/
/***************************************************************************/

.main-classes {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background2.jpg);
	min-height: 60vh;
	background-size: cover;
	background-position: center;
	padding: 320px 0 200px;
    background-attachment: fixed;
}

.main-classes h1 {
	margin: 0;
	padding: 0;
	font-size: 2.6em;
	color: #dcdde1;
	text-transform: uppercase;
	font-weight: bold;
}

.classes .nav-tabs a {
	margin-left: 1px;
}

.classes .nav li a {
	color: #71D002;
}

.classes .nav li a.active {
	background-color: #71D002;
	color: #fff;
}

.classes .responsive-table tr a {
	color: #71D002;
}

.bg-yellow {
	background-color: gold;
}

.bg-orange {
	background-color: orange;
}

.bg-green {
	background-color: green;
}

.bg-purple {
	background-color: rebeccapurple;
}

.bg-brown {
	background-color: saddlebrown;
}

/***************************************************************************/
/********************************* Sliders *********************************/
/***************************************************************************/

.carousel-inner img {
	height: 100%;
	width: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h2 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

.btn-primary {
	background-color: #ADE75F;
	border: 1px solid #ADE75F;
}

.btn-primary:hover {
	background-color: #71D002;
	border: 1px solid #71D002;
}

.slider-section.padding {
	padding-bottom: 2rem;
}


/****************************************************************************/
/***************************** Features Section *****************************/
/****************************************************************************/

.welcome {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.welcome h1 {
	color: #71D002;
	text-transform: uppercase;
}

.features-section {
	padding-bottom: 60px;
	padding-top: 60px;
}

.features-section .heading {
	margin-bottom: 50px;
	text-align: center;
}

.features-section .heading h1 {
	color: #71D002;
	font-weight: 900;
	font-size: 1.7rem;
	text-transform: uppercase;
}

.features-section hr {
	border-top: 2px solid #b4b4b4;
	width: 80%;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.features-section h5 {
	color: #ADE75F;
	font-size: 17px;
	font-weight: bold;
}

.features-section .card {
	transition: 0.4s ease;
}

.features-section.card img {
	box-shadow: 6px 2px 10px rgba(0, 0, 0, 0.15);
}

.features-section .card-body {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: .8em 0;
	background-color: rgba(15, 15, 15, .6);
	text-align: center;
}

.features-section a {
	color: #212529;
}

.features-section a:hover {
	text-decoration: none;
}

.features-section .card {
	margin-bottom: 30px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

@media (min-width:576px) {
	.features-section .transform-on-hover:hover {
		opacity: .6;
		box-shadow: 0px 10px 10px rgba(0,0,0,0.15) !important;
	}
}

/****************************************************************************/
/***************************** Mission & Vision *****************************/
/****************************************************************************/

.mission-vision container-fluid {
	margin-right: auto;
	margin-left: auto;
}

.mission-vision h3 {
	text-transform: uppercase;
	margin-top: 20px;
    font-size: 1.5em;
	text-align: center;
}

.mission-vision p {
    font-size: 1em;
    line-height: 1em;
	text-align-last: center;
}

.mission-vision .card {
	width: 100%;
	height: 100%;
}

.mission-vision .card-group a {
	text-decoration: none !important;
}

.mission-vision .card-title, .mission-vision.card-text {
	color: white;
}

.mission-vision hr.card-line {
	border-top: 4px solid;
	width: 120px;
	margin: 30px auto;
	color: #ADE75F;
}

.mission-vision .card-img-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.mission-vision .card-img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
}

.mission-vision .card:hover .card-img,
.mission-vision .card:focus .card-img {
	opacity:0.5;
}

/***************************************************************************/
/********************************** Camps **********************************/
/***************************************************************************/

.header-img {
	width: 60%;
}

.main-camps {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background5.jpg);
	min-height: 60vh;
	background-size: cover;
	background-position: center;
	padding: 320px 0 200px;
    background-attachment: fixed;
}

.main-camps h1 {
	margin: 0;
	padding: 0;
	font-size: 2.6em;
	color: #dcdde1;
	text-transform: uppercase;
	font-weight: bold;
}

.camps .nav-tabs a {
	margin-left: 1px;
}

.camps .nav li a {
	color: #71D002;
}

.camps .nav li a.active {
	background-color: #71D002;
	color: #fff;
}

/****************************************************************************/
/********************************* Schedule *********************************/
/****************************************************************************/

.main-schedule {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background5.jpg);
	min-height: 60vh;
	background-size: cover;
	background-position: center;
	padding: 320px 0 200px;
    background-attachment: fixed;
}

.main-schedule h1 {
	margin: 0;
	padding: 0;
	font-size: 2.6em;
	color: #dcdde1;
	text-transform: uppercase;
	font-weight: bold;
}

.schedule .nav-tabs a {
	margin-left: 1px;
}

.schedule .nav li a {
	color: #71D002;
}

.schedule .nav li a.active {
	background-color: #71D002;
	color: #fff;
}

.schedule .responsive-table tr a {
	color: #71D002;
}

/***************************************************************************/
/********************************** Staff **********************************/
/***************************************************************************/

.main-staff {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background14.jpg);
	min-height: 60vh;
	background-size: cover;
	background-position: center;
	padding: 320px 0 200px;
    background-attachment: fixed;
}

.main-staff h1 {
	margin: 0;
	padding: 0;
	font-size: 2.6em;
	color: #dcdde1;
	text-transform: uppercase;
	font-weight: bold;
}

.staff-section {
    background: #eee !important;
}

.staff-section h4 {
	color: black;
}

.staff-section p {
	color: black;
}

.staff-section .btn-primary:hover,
.btn-primary:focus {
    background-color: #71D002;
    border-color: #71D002;
    box-shadow: none;
    outline: none;
}

.staff-section .btn-primary {
    color: #fff;
    background-color: #71D002;
    border-color: #71D002;
}

.staff-section {
    padding: 60px 0;
}

.staff-section .section-title {
    text-align: center;
    color: #71D002;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.staff-section .card {
    border: none;
    background: #ffffff;
}

.staff-section .image-flip:hover .backside,
.staff-section .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.staff-section .image-flip:hover .frontside,
.staff-section .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.staff-section .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.staff-section .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.staff-section .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.staff-section .frontside,
.staff-section .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.staff-section .frontside .card,
.staff-section .backside .card {
    min-height: 312px;
}

.staff-section .backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.staff-section .frontside .card .card-title,
.staff-section .backside .card .card-title {
    color: #71D002 !important;
}

.staff-section .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/****************************************************************************/
/********************************** Footer **********************************/
/****************************************************************************/

footer.static-footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 80%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

footer a {
	color: #d5d5d5;
	text-decoration: none;
	transition: .2s all;
}

footer ul li {
	margin-bottom: 10px;
}

hr.light-100 {
	border-top: 1px solid #d5d5d5;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

footer .padding {
	padding-bottom: .8rem;
}

.list-unstyled {
	list-style: none;
}

footer a:hover {
	text-decoration: none;
	color: #71D002;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 576px) {
	.mission-vision {

	}
}
